$firm-color: #9873FF;
$black-color: #333;

$white-color: #fff;
$grey-color: #E9E9E9;
$pink-color: #E02D71;
$focus-color: #E00071;
$hover-color: #F086AF;

$red-color: #F06A4D;
$green-color: #34C759;
$orange-color: #E6B127;
$hover-color: #B89EFF;
$hover-pale-color: rgba(184, 158, 255, .2);
$active-color: #8052FF;


$ff: OpenSans;
