html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

a {
  text-decoration: none;
}

a:focus, button:focus {
  outline: none;
}

img {
  max-width: 100%;
}

label, button, a {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

ul {
  list-style-type: none;
}

li {
  line-height: 1;
}

svg, a {
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

picture {
  font-size: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

@font-face {
  font-display: swap;
  font-weight: 300;
  font-family: 'Geometria';
  font-style: normal;
  src: url(../fonts/Geometria-Light.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: 'Geometria';
  font-style: normal;
  src: url(../fonts/Geometria-Regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-weight: 500;
  font-family: 'Geometria';
  font-style: normal;
  src: url(../fonts/Geometria-Medium.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-weight: 700;
  font-family: 'Geometria';
  font-style: normal;
  src: url(../fonts/Geometria-Bold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-weight: 900;
  font-family: 'Geometria';
  font-style: normal;
  src: url(../fonts/Geometria-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: 'Circe';
  font-style: normal;
  src: url(../fonts/Circe-Regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-weight: 700;
  font-family: 'Circe';
  font-style: normal;
  src: url(../fonts/Circe-Bold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: 'Montserrat';
  font-style: normal;
  src: url(../fonts/Montserrat-Regular.woff) format("woff");
}

:root {
  --white: #fff;
  --grey: #E9E9E9;
  --info-border-color: #E7E7E7;
  --darkgrey: #737373;
  --pink: #E02D71;
  --pale-pink: #FAFAFA;
  --pale-border: #F2E4EA;
  --black: #222222;
  --note-color: #9D9D9D;
  --focus-color: #E00071;
  --hover-color: #CA7BD8;
  --active-color: #920F41;
  --inactive-page-num-color: #D1D1D1;
  --pag-btn-color: #E2E2E2;
  --trans-btn-color: #363636;
  --btn-hover-color: #DEDEDE;
  --btn-active-color: #150C26;
}

* {
  font-size: inherit;
}

.body {
  position: relative;
  min-width: 360px;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--white);
  font-family: 'Geometria';
  color: var(--black);
}

.container {
  width: calc(100vw - 80px);
  max-width: 1600px;
  margin: 0 auto;
}

.status-report {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 30px auto;
  font-size: 35px;
}

.link {
  position: relative;
}

.link::after {
  position: absolute;
  z-index: -1;
  content: '';
  inset: -3px;
  background-color: transparent;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.link:focus-visible {
  color: #fff;
}

.link:focus-visible::after {
  background-color: var(--pink);
}

.error-in-frame {
  padding: 27px 30px;
  border: 3px solid var(--pink);
  border-radius: 1px;
  background-color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(222, 222, 222, 0.25);
}

@media screen and (any-hover: hover) {
  .link:hover {
    color: var(--black);
  }
  .link:hover:not(:focus-visible):not(:active) {
    color: var(--pink);
  }
}

.link:active {
  color: #fff;
}

.link:active::after {
  background-color: var(--active-color);
}

.link-under {
  position: relative;
}

.link-under::after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--hover-color);
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.link-under:focus-visible {
  background-color: var(--pale-pink);
}

@media screen and (any-hover: hover) {
  .link-under:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.link-under:active {
  color: var(--active-color);
}

.color {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 100%;
  line-height: 1;
}

.color__input:checked + .color__skin::after {
  border-color: var(--black);
}

.color__input:focus-visible + .color__skin::after {
  border-color: var(--black);
  border-width: 3px;
}

.color__skin {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid var(--darkgrey);
}

.color__skin::after {
  content: '';
  position: absolute;
  inset: -3px;
  border: 1px solid transparent;
  border-radius: 100%;
  -webkit-transition: border-color .25s ease-in-out;
  transition: border-color .25s ease-in-out;
}

.square-check-list {
  display: -ms-grid;
  display: grid;
  row-gap: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.square-check {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.square-check::after {
  position: absolute;
  content: '';
  inset: 0;
  right: 20px;
}

.square-check__skin {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid var(--black);
  -webkit-transition: background-color .25s ease-in-out, border-color .25s ease-in-out;
  transition: background-color .25s ease-in-out, border-color .25s ease-in-out;
}

.square-check__skin::after {
  position: absolute;
  content: '';
  inset: 3px;
  background-color: transparent;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.square-check__value {
  margin-right: 6px;
  font: 400 16px/24px 'Circe';
  text-transform: lowercase;
  pointer-events: none;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.square-check__amount {
  color: var(--darkgrey);
  font: 16px/24px Montserrat;
  cursor: default;
  pointer-events: none;
}

.square-check__input:checked + .square-check__skin::after {
  background-color: var(--pink);
}

.square-check__input:focus-visible + .square-check__skin {
  border-color: var(--pink);
}

.square-check__input:focus-visible ~ .square-check__value {
  -webkit-text-decoration: underline var(--pink);
          text-decoration: underline var(--pink);
}

@media screen and (any-hover: hover) {
  .square-check:hover .square-check__skin {
    background-color: var(--pale-pink);
  }
  .square-check:hover .square-check__value {
    color: var(--pink);
  }
}

.btn {
  padding: 15px 27px;
  min-width: 160px;
  background-color: var(--pink);
  color: var(--white);
  font: 700 11px/20px Circe;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--pink);
  -webkit-transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;
  transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;
}

.btn:focus-visible {
  border-color: var(--trans-btn-color);
}

.btn-primary {
  padding: 19px 32px;
  font-size: 14px;
  line-height: 20px;
}

.btn-trans {
  background-color: transparent;
  color: var(--trans-btn-color);
  border-color: var(--trans-btn-color);
}

.btn-trans:focus-visible {
  border-color: var(--pink);
}

@media screen and (any-hover: hover) {
  .btn:hover {
    color: var(--black);
    background-color: var(--btn-hover-color);
  }
}

.btn:active {
  background-color: var(--btn-active-color);
}

.btn-trans:active {
  color: var(--white);
}

.common-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.bigger-font {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
  color: var(--note-color);
}

.breadcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 10px;
}

/* animations */
.scroll-enter-active, .scroll-leave-active {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.scroll-enter, .scroll-leave-to {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.drop-enter-active, .drop-leave-active {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.drop-enter, .drop-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

/* media */
@media (max-width: 620px) {
  .container {
    width: calc(100vw - 40px);
  }
  .btn {
    padding: 8px 12px;
  }
}
/*# sourceMappingURL=styles.css.map */